<nb-card>
    <nb-card-header>Add New Dengue Case</nb-card-header>
    <nb-card-body>
        <div class="mx-auto">
            <form (ngSubmit)="submit()" #form="ngForm">
                <div *ngIf="showMessages.error && errors && errors.length > 0 && !submitted" class="alert alert-danger"
                    role="alert">
                    <div><strong>ERROR!</strong></div>
                    <div *ngFor="let error of errors">{{ error }}</div>
                </div>
                <div class="form-group row">
                    <label for="date" class="col-sm-3 col-form-label">Report Date Time</label>
                    <div class="col-sm-9">
                        <input type="text" name="date" [(ngModel)]="case.date" class="form-control" id="date"
                            placeholder="{{case.date}}" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="patient" class="col-sm-3 col-form-label">Patient Name</label>
                    <div class="col-sm-9">
                        <input type="text" name="patient" #patient="ngModel" [(ngModel)]="case.patient"
                            placeholder="{{default.patient}}" class="form-control" id="patient"
                            [class.form-control-danger]="patient.invalid && patient.touched" autofocus
                            [required]="getConfigValue('forms.validation.username.required')">
                        <small class="form-text error"
                            *ngIf="patient.invalid && patient.touched && patient.errors?.required">
                            Patient Name is required!
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="address" class="col-sm-3 col-form-label">Address</label>
                    <div class="col-sm-9">
                        <input type="text" name="address" #address="ngModel" [(ngModel)]="case.address"
                            class="form-control" id="address" placeholder="{{default.address}}"
                            [class.form-control-danger]="address.invalid && address.touched"
                            [required]="getConfigValue('forms.validation.username.required')">
                        <small class="form-text error"
                            *ngIf="address.invalid && address.touched && address.errors?.required">
                            Address is required!
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ic" class="col-sm-3 col-form-label">IC No.</label>
                    <div class="col-sm-9">
                        <input type="text" name="ic" #ic="ngModel" [(ngModel)]="case.ic" class="form-control" id="ic"
                            placeholder="{{default.ic}}" [maxlength]="12"
                            [class.form-control-danger]="ic.invalid && ic.touched"
                            [required]="getConfigValue('forms.validation.username.required')">
                        <small class="form-text error" *ngIf="ic.invalid && ic.touched && ic.errors?.required">
                            IC No is required!
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="age" class="col-sm-3 col-form-label">Age</label>
                    <div class="col-sm-9">
                        <input type="number" name="age" #age="ngModel" [(ngModel)]="case.age" class="form-control"
                            id="age" [maxlength]="2" placeholder="{{default.age}}"
                            [class.form-control-danger]="age.invalid && age.touched"
                            [required]="getConfigValue('forms.validation.username.required')">
                        <small class="form-text error" *ngIf="age.invalid && age.touched && age.errors?.required">
                            Age is required!
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="infectedArea" class="col-sm-3 col-form-label">Infected Area</label>
                    <div class="col-sm-9">
                        <input type="text" name="infectedArea" #infectedArea="ngModel" [(ngModel)]="case.infectarea"
                            class="form-control" id="infectedArea" placeholder="{{default.infectarea}}">
                        <small class="form-text error"
                            *ngIf="infectedArea.invalid && infectedArea.touched && infectedArea.errors?.required"></small>
                    </div>
                </div>
                <div class="form-group row" style="justify-content: center;">
                    <div>
                        <button [disabled]="submitted" nbButton status="success"
                            [class.btn-pulse]="submitted">Create</button>
                    </div>
                    <div>
                        <button nbButton status="primary" (click)="cancel()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </nb-card-body>
</nb-card>