<div class="row">
  <nb-card style="margin: 30px;">
    <nb-card-header>Total Mosquito Home Deployed</nb-card-header>
    <nb-card-body>
      <h4>{{displayData.ovitrap}}</h4>
    </nb-card-body>
  </nb-card>
  <nb-card style="margin: 30px;">
    <nb-card-header>Total Egg Collected</nb-card-header>
    <nb-card-body>
      <h4>{{displayData.egg}}</h4>
    </nb-card-body>
  </nb-card>

  <nb-card style="margin: 30px;">
    <nb-card-header>Total Larvae Collected</nb-card-header>
    <nb-card-body>
      <h4>{{displayData.larvae}}</h4>
    </nb-card-body>
  </nb-card>
  <nb-card style="margin: 30px;">
    <nb-card-header>Total Positive Result</nb-card-header>
    <nb-card-body>
      <h4>{{displayData.positive}}</h4>
    </nb-card-body>
  </nb-card>
</div>